body {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

:root {
    --clr-dark : #303030;
    --clr-light : #fff;
    --clr-grey : #888888;
}

.navBar {
    display : flex;
    justify-content: space-between;
    align-items : center;
    background-color : var(--clr-dark);
    color : var(--clr-light);
}

.nav__list {
    list-style : none;
    display : flex;
    justify-content : space-between;
    padding: 0;
    margin: 5px;
}

/* container */
.container {
    margin: auto;
    width: 50%;
    /* text-align : center; */
}

.url {
    display : flex;
    justify-content: space-between;
    margin : 0.5rem 0;
}

#url {
    width: 70%;
}

.req_type {
    display : flex;
    justify-content: space-between;
    margin : 0.5rem 0;
}

.radio {
    width: 71%;
    text-align: left;
}

.con_type {
    display : flex;
    justify-content: space-between;
    margin : 0.5rem 0;
}

.req_json{
    display : flex;
    justify-content: space-between;
    margin : 0.5rem 0;
}

.custom_params {
    display : flex;
    justify-content: space-between;
    margin : 0.5rem 0;
}

#reqJson{
    width: 69%;
}

.paramContainer {
    width: 70%;
}

.custParams,.custParamVal {
    width: 46%;
}

.response {
    display : flex;
    justify-content: space-between;
    margin : 2rem 0;
}

#resp {
    width: 70%;
    background-color : var(--clr-dark);
    color : var(--clr-light);
}